html {
  font-size: 16px;
}

body {
  background-color: #fff;
  color: #444;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0 auto;
  /* max-width: 1080px; */
  /* min-width: 320px; */
  overflow-y: scroll;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: orange; */
  text-align: center;
}

main {
  display: flex;
  flex-grow: 1;
  /* background-color: pink; */
}

footer {
  /* background-color: red; */
  text-align: center;
}

.login {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.login form {
  background-color: pink;
}

.login .password-eye {
  float: right;
  margin: -1.25rem .1875rem 0 0;
  height: 1.25rem;
  width: 1.25rem;
  z-index: 2;
  transition: opacity 1s;
}

.login .password-eye::before {
  content: url(./media/eye-no.svg);
}

.login .eye-yes::before {
  content: url(./media/eye-yes.svg);
}
